body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff;
  padding: 20px;
  justify-content: center;
}

#joke-container {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 2rem;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input {
  background-color: #f5f5f5;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #83e694;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #34f554;
}

#search-joke {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 20rem;
}

#joke-container p {
  font-size: 20px;
  margin-bottom: 10px;
}

#joke-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#joke-container li {
  font-size: 16px;
  margin-bottom: 10px;
}